<section class="section" id="registry">
  <h2 class="section-title">Registry</h2>
  <div class="centered-content-wrapper">
    <div class="text-with-padding">
      <p>Thank you so much for thinking of getting us a wedding gift! We've registered at the following stores:</p>
      <ul>
        <li>
          <a href="https://www.crateandbarrel.com/gift-registry/david-cole-and-nora-goddard/r5627791">Crate & Barrel</a>
        </li>
        <li>
          <a href="https://secure.williams-sonoma.com/registry/22t6gd98t2/registry-list.html">Williams-Sonoma</a>
        </li>
        <li>
          <a href="https://www.macys.com/wgl/registry/guest/2352594">Macy's</a>
        </li>
      </ul>
      We're also saving up funds for our honeymoon to Iceland and France, and (some day!) a first house. Cash, check, or Schrutebucks are all welcome.
    </div>
  </div>
</section>
