<section class="section" id="shuttle">
  <h2 class="section-title">Shuttle</h2>
  <div class="centered-content-wrapper">
    <div class="text-with-padding">
      <h3>Pick-up times and locations for getting to the ceremony:</h3>
      <div class="shuttle-details">
        <ul>
          <li>2:45 PM – <a href="https://www.google.com/maps/place/Highridge+Condominiums/@43.633132,-72.7792167,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x89e02bbefab903f9:0x922ba760ac5a8b1a!2sHighridge+Condominiums!8m2!3d43.633132!4d-72.777028!3m4!1s0x89e02bbefab903f9:0x922ba760ac5a8b1a!8m2!3d43.633132!4d-72.777028">Killington High Ridge Sports Center</a></li>
          <li>2:50 PM – <a href="https://www.google.com/maps/place/The+Trailside+Inn/@43.702208,-72.8255787,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb52cc80488adad:0x4ff96352ba0cb712!8m2!3d43.702208!4d-72.82339">Trailside Inn</a></li>
          <li>3:00 PM – <a href="https://www.google.com/maps/place/The+Amee+Farm+Lodge/@43.777067,-72.8115107,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb52e649e378b17:0x8c7a9382a50a6ca8!8m2!3d43.777067!4d-72.809322">Amee Farm</a></li>
        </ul>
      </div>

      <h3>After the reception, all shuttles will be running from Riverside Farm to the following locations:</h3>
      <div class="shuttle-details">
        <ul>
          <li>Afterparty at the Clear River Tavern</li>
          <li>Amee Farm Lodge</li>
          <li>Trailside Inn</li>
          <li>Killington High Ridge Sports Center</li>
        </ul>
      </div>

    </div>
  </div>
</section>
