<section class="section" id="things-to-do">
  <h2 class="section-title">Things To Do</h2>
  <div class="centered-content-wrapper">
    <div class="text-with-padding">
      <ul>
        <li>
          Saturday bike ride around the area, led by Roger Cole. (Contact Dave if you're interested!)
        </li>
        <li>
          <a href="https://www.google.com/maps/place/Middle+Covered+Bridge/@43.6245131,-72.523173,15.65z/data=!4m5!3m4!1s0x0:0xa3718fefbf479733!8m2!3d43.6246617!4d-72.5204837">Visit the Town of Woodstock</a> (where Dave and Nora got engaged)
        </li>
        <li>
          <a href="http://www.gmngc.com/">Golf at Green Mountain National Golf Course</a>
        </li>
        <li>
          <a href="http://www.hallartfoundation.org/exhibitions/future/vermont">Hall Art Foundation exhibit</a>
        </li>
        <li>
          <a href="http://www.killington.com/site/summer/adventure-center/index.html">Killington Mountain Adventure Center</a>
        </li>
        <li>
          <a href="http://www.simonpearce.com/our-stores/quechee/ ">Simon Pearce glassmaking/lunch</a>
        </li>
      </ul>
      <h3>Suggested Hikes</h3>
      <ul>
        <li>
          <p><strong>Pico Peak via Sherburne Pass Trail</strong></p>
          <p>Distance: 5.4 miles (round trip)<br/>
          Hiking Time: 3 - 4 hours<br/>
          <a href="https://www.google.com/maps/dir//Sherburne+Pass+%2F+Long+Trail+Crossing,+Killington,+VT+05751/@43.6633945,-72.8299979,16.31z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89e029a394633257:0x88cff5f0b8220821!2m2!1d-72.8326687!2d43.663497">Directions to Parking</a></p>

          <p style="max-width: 900px; margin: 50px auto; text-align: left">Starting from directly across from the Inn at Long Trail on US 4 in Killington (1.4 miles west of VT 100 north), this blue-blazed trail ascends to the top of Pico Peak. When you reach Pico Camp (2.5 miles from trailhead), turn on to Pico Link trail to continue to the summit where great views of the surrounding Green Mountains are available. Return to the parking lot along by retracing your path. Afterward, enjoy a quick drink or meal at Inn at Long Trail, home of Vermont's oldest Irish pub.</p>

          <p><strong>Deer Leap Mountain</strong></p>
          <p>Distance: 1.9 (round trip)<br/>
          Hiking Time: 1-1.5 hours<br/>
          <a href="https://www.google.com/maps/dir//Sherburne+Pass+%2F+Long+Trail+Crossing,+Killington,+VT+05751/@43.6633945,-72.8299979,16.31z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89e029a394633257:0x88cff5f0b8220821!2m2!1d-72.8326687!2d43.663497">Directions to Parking</a></p>

          <p style="max-width: 900px; margin: 50px auto; text-align: left">The trail starts from behind the parking lot of Inn at Long Trail on US 4 in Killington (1.4 miles west of VT 100 north), but hiker parking is available across the street on the south side of the road. From the trailhead, ascend the blue blazed trail for .5 miles to its well marked junction with the Appalachian Trail. Turn left on the AT for 220 feet, then take another left on to the blue blazed Deer Leap Trail. This trail leads 0.6 miles to a dramatic rock outcropping with views of the surrounding mountains. Return to the parking lot along by retracing your path. Afterward, enjoy a quick drink or meal at Inn at Long Trail, home of Vermont's oldest Irish pub.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
