<section class="section" id="things-to-do">
  <h2 class="section-title">Things To Do</h2>
  <div class="centered-content-wrapper">
    <div class="text-with-padding">
      <ul>
        <li>
          Saturday bike ride around the area, led by Roger Cole. (Contact Dave if you're interested!)
        </li>
        <li>
          <a href="https://www.google.com/maps/place/Middle+Covered+Bridge/@43.6245131,-72.523173,15.65z/data=!4m5!3m4!1s0x0:0xa3718fefbf479733!8m2!3d43.6246617!4d-72.5204837">Visit the Town of Woodstock</a> (where Dave and Nora got engaged)
        </li>
        <li>
          <a href="http://www.gmngc.com/">Golf at Green Mountain National Golf Course</a>
        </li>
        <li>
          <a href="http://www.hallartfoundation.org/exhibitions/future/vermont">Hall Art Foundation exhibit</a>
        </li>
        <li>
          <a href="http://www.killington.com/site/summer/adventure-center/index.html">Killington Mountain Adventure Center</a>
        </li>
        <li>
          <a href="http://www.simonpearce.com/our-stores/quechee/ ">Simon Pearce glassmaking/lunch</a>
        </li>
      </ul>
    </div>
  </div>
</section>
