<section class="section" id="venue">
  <h2 class="section-title">Venue</h2>
  <div class="text-with-padding">
    <p>
      Vermont holds a special place in our hearts. It's where we do so many of the things we love (like skiing, biking, hiking, drinking Long Trail). And it's where we got engaged, after Nora finished the Covered Bridges half marathon in Woodstock!
    </p>
    <p>
      We searched far and wide around Vermont for the right place to get married, and <em>accidentally</em> found Riverside Farm while looking at another venue.
    </p>
  </div>
  <div class="map-wrapper">
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB94VJ3A-6-FfEagzbI9-CIoBKqKfXWM9c&q=Riverside+Farm,Pittsfield,+VT"></iframe>
  </div>
</section>
