<section class="section" id="weekend-schedule">
  <h2 class="section-title">Weekend Schedule</h2>
  <div class="centered-content-wrapper">
    <div class="day">
      <h3>Welcome reception at Long Trail Brewery</h3>
      <p>Friday, October 13, 2017 - 8:15 p.m.</p>
      <p>5520 US Route 4, Bridgewater Corners, Vermont 05035</p>
      <p>Hosted by Patty and Roger</p>
      <p>For guests arriving on Friday, please join us for a drink to kick off the celebration.</p>
    </div>

    <div class="day">
      <h3>🎉 The main event at Riverside Farm 🎉</h3>
      <p>Saturday, October 14, 2017 - 3:30 p.m. to 10:00 p.m.</p>
      <p>57 Tweed River Drive, Pittsfield, Vermont 05762</p>
      <p>Semi-formal attire 🕺💃</p>
      <p>Adult reception</p>
      <p>Transportation to the reception is available. <a href="#shuttle">See Shuttle Info</a>. Additional is parking available on-site.</p>

      <p style="margin-top: 50px"><strong>Party to follow at Clear River Tavern</strong></p>
      <p>2640 Route 100 North, Pittsfield, Vermont 05762</p>
      <p>Transportation provided to and from the party</p>
    </div>

    <div class="day">
      <h3>Farewell brunch at Riverside Farm</h3>
      <p>Sunday, October 15, 2017 - 9:30 a.m. to 11:30 a.m.</p>
      <p>57 Tweed River Drive, Pittsfield, Vermont 05762</p>
      <p>Parking available</p>
    </div>
  </div>
</section>
