<section class="section" id="where-to-stay">
  <h2 class="section-title">Where To Stay</h2>
  <div class="text-with-padding">
    <p>
      We have a hotel block at the Trailside Inn. Dave's stayed there for the Wistia team ski trip in the past, and it's <em>awesome</em>. The innkeepers Josh and Ann are super friendly, and the inn is conveniently located just down the street from the venue. Transportation will be provided back and forth, too.
    </p>
  </div>
    <div class="riverside-photo">
      <img src="assets/images/trailside.jpg"/>
    </div>
  <div class="text-with-padding">
    <p>
      To book a room at Trailside, call Josh and Ann at <a href="tel:1-802-422-8800">(802) 422-8800</a>. Don't try to book on the website – it's blocked for those dates, for you!
    </p>
    <p>
      If you're feeling a little fancier (not that Trailside isn't fancy), check out the <a href="http://www.killington.com/site/plan/managed/managed/206041127">Killington Grand Resort Hotel</a>. Call <a href="tel:1-800-324-6819">1-800-324-6819</a> to get in on the block rate.
    </p>
  </div>
</section>
