<section class="section" id="where-to-stay">
  <h2 class="section-title">Where To Stay</h2>
  <div class="text-with-padding">
    <p>
      We have a hotel block at the Trailside Inn, just down the street from Riverside Farm. Dave's stayed there for the Wistia team ski trip in the past, and it's <em>awesome</em>. The innkeepers Josh and Ann are super friendly. Transportation will be provided between Trailside and Riverside.
    </p>
  </div>
  <img class="full-width-photo" src="assets/images/trailside.jpg"/>
  <div class="text-with-padding">
    <p>
      To book a room at Trailside, call Josh and Ann at <a href="tel:1-802-422-8800">(802) 422-8800</a> <strong>before August 1st</strong>. Don't try to book on the website – it's blocked for those dates, for you! That block will be removed on August 1st and the "leaf peepers" will book the room you wanted. 🍂
    </p>
    <p>
      If you're feeling a little fancier (not that Trailside isn't fancy), check out the <a href="http://www.killington.com/site/plan/managed/managed/206041127">Killington Grand Resort Hotel</a>. We have blocked a number of 1 to 4 bedroom condos at the Highridge complex, ranging in price from $105 to $280 per night. Call <a href='tel:1-800-282-9955'>1-800-282-9955</a> and ask about the Goddard/Cole "lodging-only" wedding block. The block at Killington will be held until September 13.
    </p>
  </div>
</section>
