@import vars

.hero
  position: relative
  z-index: -1
  height: 120vh

.hero-image
  background: url("https://embed-ssl.wistia.com/deliveries/d0ebe722299736e73ad9172af33827cc176a1f22.jpg?image_quality=30")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 120vh
  width: 100%
  position: fixed

.hero-text
  position: absolute
  top: 32%
  z-index: 10
  width: 100%
  text-align: center
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)

.hero-title, .hero-subtitle
  font-family: $cursive
  font-weight: 200
  color: #ffffff

.hero-title
  font-size: 55px


.hero-subtitle
  font-size: 45px
