.hero
  position: relative

.hero-image
  background: url("../assets/images/dave_kissing_noras_head.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  filter: brightness(50%)
  height: 100vh
  position: relative

.hero-text
  position: absolute
  top: 190px
  z-index: 10
  width: 100%
  text-align: center

.hero-title, .hero-subtitle
  font-family: sans-serif
  font-weight: 400
  color: #ffffff

.hero-title
  font-size: 70px
  font-size: 5vw

.hero-subtitle
  font-size: 50px
  font-size: 4vw
