.navigation-links-wrapper
  margin-top: 30px
  margin-left: 30px
  // display: inline-block

.navigation-link
  display: inline-block
  margin-right: 20px

  a
    text-decoration: none
    color: #611b98
    font-family: sans-serif
    font-size: 28px

  a:visited
    color: #611b98
