@import vars

// Weekend Schedule
#weeked-schedule
  .day
    text-align: center
  p
    font-family: $sans-serif

.section-title
  margin: 20px 0px
  font-family: $cursive
  font-size: 40px
  font-weight: 300
  color: $purple
