@import vars

// Weekend Schedule
#weekend-schedule
  padding-left: 10px
  padding-right: 10px
  .day
    text-align: center
    padding-bottom: 30px
    font-family: $serif
    h3
      padding-bottom: 10px
      font-size: 2em
    p
      padding-bottom: 6px
      font-size: 1.4em

// Venue
p
  margin-bottom: 20px


// General
.section
  padding-top: 10px

.section-title
  margin: 20px 0px
  padding-left: 30px
  font-family: $cursive
  font-size: 40px
  font-weight: 300
  color: $grey

.centered-content-wrapper
  text-align: center

.text-with-padding
  padding-left: 40px
  padding-right: 40px
  font-family: $serif
  font-size: 1.5em
