@import vars

// Weekend Schedule
#weeked-schedule
  .day
    text-align: center
  p
    font-family: $sans-serif

// Venue
#venue
  .riverside-photo
    width: 100%

// General
.section
  padding-top: 10px

.section-title
  margin: 20px 0px
  padding-left: 50px
  font-family: $cursive
  font-size: 40px
  font-weight: 300
  color: $purple

.centered-content-wrapper
  text-align: center
