---
layout: default
---
<div class="hero">
  <div class="hero-image"></div>
  <div class="hero-text">
    <h1 class="hero-title">Dave & Nora are getting married!</h1>
    <h2 class="hero-subtitle">October 14, 2017</h2>
    <h2 class="hero-subtitle">Riverside Farm, Pittsfield, VT</h2>
  </div>
</div>

<main class="main">
  <div style="text-align:center">covered bridge goes here</div>
  <nav style="text-align:center">
    <ul class="navigation-links-wrapper">
      <li class="navigation-link"><a href="#">Our Story</a></li>
      <li class="navigation-link"><a href="#">Venue & Directions</a></li>
      <li class="navigation-link"><a href="#">Weekend Schedule</a></li>
      <li class="navigation-link"><a href="#">Things To Do</a></li>
      <li class="navigation-link"><a href="#">Registry & Funds</a></li>
    </ul>
  </nav>
  <section class="section" id="map">
    <h3 class="section-title">Venue</h3>
    <div class="map-wrapper">
      <iframe width="60%" height="500" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB94VJ3A-6-FfEagzbI9-CIoBKqKfXWM9c&q=Riverside+Farm,Pittsfield,+VT"></iframe>
    </div>
  </section>
</main>

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div> -->
